@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <!-- SEARCH BAR -->
    <div>
        @using (Html.BeginForm("MovieSearchResults", "Movies",  FormMethod.Post))
        {
            <form class=" form-inline justify-content-center mb-3">
                @Html.TextBox("userInput")
                <button type="submit" class="btn btn-danger mb-2"><i class="fas fa-search"></i></button>
            </form>
        }
    </div>

    <h1 class="display-4 text-danger">Cinematoria</h1>
    <h2><i class="fas fa-theater-masks fa-7x mb-2"></i></h2>
  
    <p class=" p-5"> Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
