@model CSD412webProject.Models.ListOfMovieLists

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Pages/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Lists </h1>

<p>
    <a asp-action="Create" asp-controller="MovieLists" asp-route-id=@Model.Id>Create New <i class="fas fa-file-medical"></i></a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieLists)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var movieList in Model.MovieLists)
            {

                <tr>
                    <td>
                        @movieList.MovieListName
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="MovieLists" asp-route-id="@movieList.MovieListId">Edit</a> |
                        <a asp-action="Details"  asp-controller="MovieLists" asp-route-id="@movieList.MovieListId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
</table>
