/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}


/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.table {
    margin-bottom: 8rem;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  margin: 0;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 40px; /* Vertically center the text there */
}

/*Users custom additions
    ------------------------------------------------*/

a {
    color: #db3553;
}

a:hover {
    color: #0cc431;
}
footer{
    position: absolute;
    bottom: 0;
}


#home-section .dark-overlay {
    position: relative;
    top: 20px;
    left: 0;
    margin-bottom: 70px;
    width: 100%;
    min-height: 700px;
    /*background: rgba(50, 146, 166, 0.8);*/
}

#home-section .home-inner {
    padding-top: 150px;
}

#home-section .card-form {
    opacity: 0.8;
}

#home-section .fas,
#create-section .fas {
    color: #008ed6;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}
/* Explore section */
#explore-section .fas,
#share-section .fas {
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
#video-play {
    position:relative;
    min-height: 200px;
    background: url("../img/media.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0, -300px;
    text-align: center;
    color: #fff;
}

    #video-play a {
        color: #fff;
    }

    .movie-box {
        display:table;
    }

.movie-row {
    display:flex;
}

    .movie-cell {
        display:table-cell;
    } 


  
